body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white; /* Assuming white text will be visible on the image */
}

/* .placeholderimg {
    height: auto;
    width: 100%;
} */

.container {
    background-image: url('bg-dough-smaller.jpeg');
    height: 100vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); /* Optional: semi-transparent black background for better text visibility */
    padding: 20px 40px;
    border-radius: 8px; /* Optional: for rounded corners */
}

.title {
    display: flex;
    font-size: 64px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.footer .copyright {
    display: flex;
    justify-content: flex-start;
}

.footer .contact {
    display: flex;
    justify-content: flex-end;
}
.footer p {
    margin: 10px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
